@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .nav-small {
    display: flex;
  }

  .banner{
    background-image: url('../assets/background_small.png');
  }

  .banner-new{
    top: 8px;
    right: 10px;
  }

  .banner-music{
    width: 250px;
  }

  .banner-heading{
    font-size:40px;
  }

  .why-choose{
    padding: 20px;
  }
  .choose-techWave{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

 

}

@media screen and (width > 576px) {
  .nav-big {
    display: flex;
  }
}
