@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1600px;
  margin: 0 auto;
}

.featured div iframe {
  width: 100%;
  height: 220px;
  border-radius: 20px 20px 0 0;
}

.icon img {
  width: 50px;
}

.btn:hover {
  background: darkblue;
  transform: scale(1.1);
}

@media screen and (max-width: 576px) {
  .nav-small {
    display: flex;
  }

  .banner {
    background-image: url("../assets/background_small.png");
  }

  .banner-new {
    top: 8px;
    right: 10px;
  }

  .banner-music {
    width: 250px;
  }

  .banner-heading {
    font-size: 40px;
  }

  .podcast {
    padding: 20px;
  }

  .podcast-text {
    padding: 10px;
  }
  .podcast-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .why-choose {
    padding: 20px;
  }

  .why-choose h1 {
    font-size: 32px;
  }

  .choose-techWave {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .featured {
    padding: 20px;
  }
  .featured-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 220px; */
    border-radius: 20px 20px 0 0;
  }

  .host {
    padding: 20px;
  }

  .host-title {
    font-size: 32px;
  }

  .host-content {
    flex-direction: column;
    text-align: center;
  }

  .icon {
    justify-content: center;
  }

  .footer {
    background-image: url("../assets/footer-small.png");
  }

  .footer-title {
    font-size: 32px;
  }

  .footer-icon {
    flex-wrap: wrap;
  }
}

@media screen and (width > 576px) {
  .nav-big {
    display: flex;
  }
}
